<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_INewsService" />
        <binding name="WSHttpBinding_INewsService1" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://desktop-kjh34th/NewsService/NewsService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INewsService"
        contract="ServiceReference1.INewsService" name="WSHttpBinding_INewsService">
        <identity>
          <servicePrincipalName value="host/DESKTOP-KJH34TH" />
        </identity>
      </endpoint>
      <endpoint address="http://desktop-kjh34th/NewsService/NewsService.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_INewsService1"
        contract="NewsService1.INewsService" name="WSHttpBinding_INewsService1">
        <identity>
          <servicePrincipalName value="host/DESKTOP-KJH34TH" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>